@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Quicksand:wght@500&family=Roboto&display=swap');


$color_pri: #610C9F;
$color_sec: #940B92;
$color_txt: #DA0C81;
$color_light: #E95793;
$color_black: #222222;
$color_white: #e1e1e1;


$font_family_pri: 'Open Sans', sans-serif;
$font_family_sec: 'Quicksand', sans-serif;
$font_family_robo: 'Roboto', sans-serif;
